

footer {
	@include clearfix;
	@include padding;
	background: $navy url(../img/bg-stripes-blue.png) center center no-repeat;
	background-size: cover;
	color: white;
	line-height: 1.5em;

	a {
		color: $grey-light;
	}

	.copyright {
		color: $grey;
	}
}

