

.icons {
	padding: 10px 20px 30px;
	background: url(../img/bg-canvas.jpg) bottom center;

	a {
		color: black;
		text-decoration: none;

		* {
			transition: 400ms all ease-in-out;
		}
	}

	.icon {
		@include respond-to( 400px ) {
			margin: 0 2%;
			width: 46%;
			float: left;

			&.icon-3, &.icon-5, &.icon-7, &.icon-9 {
				clear: left;
			}

			img {
				max-width: 60%;
				margin: 15px 0;
			}
		}

		@include respond-to( 1024px ) {
			margin: 0 1%;
			width: 23%;

			&.icon-3, &.icon-5, &.icon-7, &.icon-9 {
				clear: none;
			}

			&.icon-5, &.icon-9 {
				clear: left;
			}

			img {
				margin: 30px 0;
			}
		}
	}

	.super-title {
		@include font-bold;
		text-transform: uppercase;
		padding: 15px 0 0;
	}

	h5 {
		@include font-bold;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 20px;
		padding: 0 10px;
		margin: 0;
		color: black;
	}
}

