

.showcase {
	@include clearfix;
	position: relative;
	overflow: hidden;
	transition: height 300ms ease-in-out;
	background: #eee;
	z-index: 0;
	height: 450px;
	border-bottom: 40px solid $red;

	@include respond-to( 768px ) {
		height: 525px;
	}

	@include respond-to( 1024px ) {
		height: 575px;
	}

	.slide {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: opacity 400ms ease-in-out, padding 400ms ease-in-out;
		height: 100%;
		background: center center no-repeat;
		background-size: cover;
		z-index: 5;
		padding: 30px 70px;

		@include respond-to( 1024px ) {
			padding-top: 50px;
		}

		&.visible {
			opacity: 1;
			z-index: 6;
		}
		
		.slide-content {
			position: absolute;
			color: white;
			background: $navy url(../img/bg-stripes-blue.png) center center no-repeat;
			background-size: cover;
			padding: 25px;
			border-radius: 20px;
			transition: max-width 400ms ease-in-out;
			pointer-events: none;
			max-width: 500px;

			@include respond-to( 1024px ) {
				max-width: 600px;
			}

			@include respond-to( 1680px ) {
				margin-left: 50px;
			}
			
			h1 {
				@include font-bold;
				color: white;
				text-transform: uppercase;
				padding: 0;
				transition: font-size 400ms ease-in-out, line-height 400ms ease-in-out;

				font-size: 20px;
				line-height: 25px;

				@include respond-to( 768px ) {
					font-size: 40px;
					line-height: 50px;
				}

				@include respond-to( 1024px ) {
					font-size: 50px;
					line-height: 60px;
				}
			}

			p {
				color: white;
			}
		}

			
		h1.slide-title {
			@include font-bold;
			position: absolute;
			text-align: center;
			color: white;
			text-transform: uppercase;
			padding: 0;
			transition: font-size 400ms ease-in-out, line-height 400ms ease-in-out;
		
			left: 0;
			right: 0;
			top: 30%;

			font-size: 30px;
			line-height: 40px;

			@include respond-to( 768px ) {
				font-size: 50px;
				line-height: 70px;
			}

			@include respond-to( 1024px ) {
				font-size: 70px;
				line-height: 90px;
			}

			&:before, &:after {
				content: '';
				position: absolute;
				background: url(../img/gold-border.png) center center no-repeat;
				background-size: contain;
				left: 0;
				right: 0;
				height: 5px;

				@include respond-to( 820px ) {
					height: 8px;
				}

				@include respond-to( 1100px ) {
					height: 10px;
				}
			}

			&:before {
				top: -10px;
			}

			&:after {
				bottom: -10px;
			}
		}

	}

	.showcase-nav a {
		position: absolute;
		top: 50%;
		margin-top: -40px;
		cursor: pointer;
		width: 50px;
		height: 80px;
		text-indent: -300px;
		overflow: hidden;
		opacity: .7;
		color: black;
		z-index: 1001;

		&:hover {
			opacity: 1;
		}

		&.previous {
			left: 0;
			background: transparent url(../img/slider-arrow-left.png) right center no-repeat;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&.next {
			right: 0;
			background: transparent url(../img/slider-arrow-right.png) left center no-repeat;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}


